*.dll
*/.vs/*
.vs/*
*/obj/*
*/bin/*
OdinPlus/TestClass.cs
*/0libDep/*
.vscode/tasks.json
.VSCodeCounter/*
*/solution-explorer/*
*/*/solution-explorer/*
*/.VSCodeCounter/*
OdinPlus/KeyboardReferenceSheet.png
