*.dll
*/.vs/
*/obj/*
*/bin/*
OdinPlus/TestClass.cs
*/0libDep/*
.vscode/tasks.json
.VSCodeCounter/2021-03-17_18-35-45/details.md
.VSCodeCounter/2021-03-17_18-35-45/results.csv
.VSCodeCounter/2021-03-17_18-35-45/results.md
.VSCodeCounter/2021-03-17_18-35-45/results.txt
